body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 15px;
  max-width: 360px;
  margin: 30px auto;
  text-align: center;
}

.board {
  display: inline-block;
}
.board__row {
  display: flex;
}

.square {
  background-color: #fff;
  border: none;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  border: 1px solid black;
  margin-right: -1px;
  margin-bottom: -1px;
  outline: none;
}

.history-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.history-nav__btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
}

.set-status {
  margin: 10px 0;
}

.stats {
  font-size: 22px;
  margin: 40px 0;
}

.stats__total {
  margin-bottom: 5px;
}
.stats__num {
  font-weight: bold;
}

.stats__num--x {
  color: yellowgreen;
}
.stats__num--0 {
  color: orange;
}
.stats__num--draw {
  color: rebeccapurple;
}

.btn--new-game {
  margin-left: 10px;
}
